* text=auto
*.cop text
*.css text
*.epf text
*.gpl text
*.htm text
*.html text
*.inc text
*.ini text
*.js text
*.json text
*.komodoproject text
*.less text
*.map text
*.markdown text
*.md text
*.npp text
*.php text
*.plt text
*.ppk text
*.pptx text
*.project text
*.PspPalette text
*.pub text
*.scss text
*.soundcloud text
*.src text
*.sublime-project text
*.sublime-workspace text
*.svg text
*.tpl text
*.txt text
*.URL text
*.webapp text
*.xml text
*.xsl text
*.ai binary
*.aco binary
*.apk binary
*.ase binary
*.bz2 binary
*.doc binary
*.ebub binary
*.eot binary
*.eps binary
*.exe binary
*.gif binary
*.gz binary
*.ico binary
*.indd binary
*.jar binary
*.jpg binary
*.otf binary
*.pdf binary
*.png binary
*.psd binary
*.swf binary
*.ttf binary
*.woff binary
*.woff2 binary
*.xap binary
*.zip binary
